- title 'Archivos'

.panel
  .panel-img
     = image_tag 'truck.jpg'
  .panel-text
     = link_to "Camioneros", truckers_path

.panel
  .panel-img
     = image_tag 'truck.jpg'
  .panel-text
     = link_to "Empresas", enterprises_path

.panel
  .panel-img
     = image_tag 'truck.jpg'
  .panel-text
     = link_to "Categorias", categories_path

.panel
  .panel-img
     = image_tag 'truck.jpg'
  .panel-text
     = link_to "Productos", products_path
