<header>
  <h2>Listado de Camioneros</h2>
</header>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Documento</th>
      <th>Vigencia Carnet</th>
    </tr>
  </thead>
  <tbody>
    <% @truckers.each do |t| %>
      <tr>
        <td><%= link_to t.full_name, trucker_path(t.id) %></td>
        <td><%= t.document %></td>
        <td><%= t.carnet_expiration_date.strftime('%d/%m/%Y') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="links">
  <%= link_to 'Agregar', new_trucker_path, class:'btn btn-default' %>
</div>
