<h2>Listado de Camioneros</h2>
<div>
  <%= link_to 'Agregar', new_trucker_path %>
</div>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Documento</th>
      <th>Vigencia</th>
    </tr>
  </thead>
  <tbody>
    <% @truckers.each do |t| %>
      <tr>
        <td><%= link_to t.full_name, trucker_path(t.id) %></td>
        <td><%= t.document %></td>
        <td><%= t.carnet_expiration_date.strftime('%d/%m/%Y') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
