header
  h2 Listado de Empresas

table
  thead
    tr
      th Nombre
      th Cuit
  tbody
    -@enterprises.each do |e|
      tr
        td = link_to e.name, enterprise_path(e.id)
        td = e.cuit_number

.links
  = link_to 'Agregar', new_enterprise_path, class:'btn btn-default'
