header
  h2 Detalles del Empresa

ul.trucker-detail
  li <b>Nombre:</b> #{@enterprise.name}
  li <b>Cuit: </b> #{@enterprise.cuit_number}
  li <b>Provincia: </b> #{@enterprise.address.state}
  li <b>Calle: </b> #{@enterprise.address.street}
  li <b>Ciudad: </b> #{@enterprise.address.city}
  li <b>Código Postal: </b> #{@enterprise.address.postal_code}
.links
  = link_to "Volver", enterprises_path, class:'btn btn-default'
  = link_to "Editar", edit_enterprise_path(@enterprise), class:'btn btn-default'
  = link_to "Borrar", enterprise_path(@enterprise),
      method: :delete,
      data: {confirm: "¿Esta seguro?" }, class:'btn btn-danger'
