<header>
  <h2>Listado de Categorias</h2>
</header>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |e| %>
      <tr>
        <td><%= link_to e.name, category_path(e.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="links">
  <%= link_to 'Agregar', new_category_path, class:'btn btn-default' %>
</div>
