<header>
  <h2>Listado de Productos</h2>
</header>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Categoria</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |e| %>
      <tr>
        <td><%= link_to e.name, product_path(e.id) %></td>
        <td><%= e.category.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="links">
  <%= link_to 'Agregar', new_product_path, class:'btn btn-default' %>
</div>
